body {
  background-color: #1A1D21;
}

.App {
  display: grid;
  overflow: hidden;
  grid-template-columns: 0.5fr 2fr;
  background-color: #1A1D21;
  text-align: center;
}

.message {
    background: rgba(255, 255, 255, 0.5);
    border: 1px #aaa solid;
    padding: 6px;
    margin: 10px;
    border-radius: 10px;
}

aside.emoji-picker-react {
    background: #fff;
    display: flex;
    flex-direction: column;
    height: 320px;
    width: 280px;
    font-family: sans-serif;
    border: 1px solid #efefef;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 5px 10px #efefef;
    overflow: hidden;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

h1 {
  color: #d4d3d8;
}

.channelList p {
  color: white;
}

/* chatWindow is a class which is a wrapper for all of the text messages */
div.chatWindow {
  width: 99%;
  overflow-y: scroll;
  background-color: #34393F;
  border-radius: 10px 0 0 10px;
  max-height: 70vh;
  min-height: calc(100vh - 17rem);
}

/* textMessage is a class for all text messages */
.textMessage {
  /* border-radius: 10px; */
  padding: 5px 15px;
  /* margin: 15px; */
  border: 1px solid #1A1D21;
}

/* Each text message has two spans, one for the sender and one for the message */
.textMessage span {
  display: block;
  text-align: left;
}

.textMessage span:first-child {
  font-weight: bold;
}

/* green means that the message was sent by the logged in user */
.textMessage.green {
  background-color: #0dbc79;
}

/* grey means the message was sent by anyone but the logged in user */
.textMessage.grey {
  background-color: #d4d3d8;
  color: #000000;
}

.textInput {
  margin: 10px 15px 10px 0;
}

/* Input box styling */
.textInput div[role=textbox] {
  color: #B2B4B5;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #848688;
  background-color: #222529;
  margin: 0;
}

/* Affects all child elements of textInput */
.textInput * {
  text-align: left;
}

/* Generic button css for send and log out */
button {
  text-align: left;
  width: 40%;
  float: left;
  background-color: #4f5358;
  color: white;
  font-size: 1.5rem;
  padding: 14px 20px;
  margin: 10px 10px 10px 0px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0084FF;
}

.markdown {
    text-align: left;
}

.channelList {
    background: #666;
    font-weight: 700;
    height: 32px;
    cursor: pointer;
    padding: 0;
    line-height: 0px;
}